.container {
    display: flex;
    padding: 8px;
    width: 100%;
    background-color: #779496;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.name {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
}

.date {
    margin: 0;
    margin-left: auto;
}

.copy {
    height: 20px;
    background-color: white;
    border-radius: 5px;
    margin-left: 40px;
}

.trash {
    height: 20px;
    background-color: white;
    border-radius: 5px;
    margin-left: 20px;
}