.infoContainer {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.container {
    display: flex;
    margin-bottom: 20px;
    background-color: #8aa4a5;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .7);
}

.name {
    text-align: left;
    margin-right: auto;
    text-wrap: wrap;
    margin: 0;
    color: white;
}

.description {
    text-align: start;
    color: white;
}

.trash {
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.countContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #779496;
    padding: 5px;
    width: 75px;
    box-sizing: border-box;
    min-height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
    text-align: center;
}

.paramsContainer {
    display: flex;
}

.calculation {
    height: 20px;
    background-color: transparent;
    border: 0;
    font-size: 20px;
    margin: 0;
    line-height: 17px;
    text-align: center;
}

.calculationContainer {
    display: flex;
    flex-direction: column;
}

.input {
    font-size: 21px;
    font-weight: 700;
    margin: 0;
    max-width: 40px;
    background-color: transparent;
    border: 0;
    border-bottom: #78bcc1;
    margin-left: auto;
}

.text {
    margin: auto 0 auto 40px;
    color: white;
    font-size: 14px;
}

@media (max-width: 500px) {
    .text {
        margin-left: 20px;
    }

    .name {
        font-size: 14px;
    }

    .paramsContainer {
        flex-direction: column;
        gap: 15px;
    }
}