.infoContainer {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.container {
    display: flex;
    margin-bottom: 20px;
    background-color: #a5c1c2;
    width: 100%;
    padding: 6px;
}

.name {
    text-align: left;
    margin-right: auto;
    text-wrap: wrap;
    margin: 0;
    color: white;
}

.description {
    text-align: start;
    color: white;
}

.trash {
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.countContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #90b2b4;
    min-width: 40px;
    min-height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    text-align: center;
}

.calculationContainer {
    display: flex;
    flex-direction: column;
}

.count {
    font-size: 27px;
    font-weight: 700;
    margin: 0;
}

.text {
    margin-left: 40px;
}