.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dishesContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px
}

.descriptions {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: space-around;
}

.secondHeader {
    text-align: center;
}

.description {
    max-height: 400px;
}

.button {
    width: 280px;
    height: 40px;
    font-size: 27px;
    text-align: center;
    margin: 20px auto 40px auto;
    background-color: #fddc36;
    border-radius: 10px;
    border: 0;
}

.totalPrice{
    font-size: 28px;
}

@media (max-width: 500px) {
    .dishesContainer {
        width: 80%
    }

    .descriptions {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .description {
        width: 80%;
    }
}