.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dishesContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.descriptions {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: space-around;
}

.secondHeader {
    text-align: center;
}

.description {
    max-height: 400px;
}

.totalPrice{
    font-size: 28px;
}

@media (max-width: 500px) {
    .dishesContainer {
        width: 80%
    }

    .descriptions {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .description {
        width: 80%;
    }
}