.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    justify-content: space-around;
}

.positionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    width: 100%;
    display: flex;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textareaContainer {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.input {
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    width: 150px;
}

.textarea {
    height: 75px;
    width: 350px;
    text-wrap: wrap;
    text-align: start;
    resize: none;

}

.submitButton{
    margin: 20px auto auto auto;
    font-size: 27px;
}