.contaiener {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 40px;
}

.header{
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    padding: 5px;
    border-radius: 5px;
}