.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    background-color: #badadb;
    gap: 30px;
    max-width: 70%;
    padding: 20px;
    border-radius: 20px;
}

.count{
    padding: 2px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin: 0;
    background-color: #96b0b1;
}

.basketButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding: 5px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: #fddc36;
    border-radius: 10px;
    border: 0;
    width: 130px;
}