.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    background-color: #badadb;
    max-width: 70%;
    padding: 20px;
}

.basketButton {
    font-size: 30px;
    position: fixed;
    right: 40px;
    bottom: 40px;
}