.cipherContainer {
    display:flex;
    flex-direction: column;
}

.container {
    display: flex;
}

.copyIcon {
    width: 40px;
    height: 40px;
}

.copyButton {
    background-color: white;
    transition: all 100ms linear;
}

.copyButtonClicked {
    background-color: rgba(79, 212, 79, 0.7);
}

.cipher {
    width:80%;
    margin-right: 20px;
    font-size: 27px;
}
