.root {
    display: flex;
    flex-direction: column;
}

.cipher {
    width:80%;
    margin-right: 20px;
    font-size: 27px;
}



.cipherContainer {
    display:flex
}

.copyIcon {
    width: 40px;
    height: 40px;
}